name: API Tests and Sync

on:
  push:
    branches: [ main ]

jobs:
  postman:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Postman CLI
        run: |
          curl -o- "https://dl-cli.pstmn.io/install/linux64.sh" | sh
          echo "$HOME/.postman/bin" >> $GITHUB_PATH

      - name: Login to Postman
        run: |
          postman login --with-api-key "${{ secrets.POSTMAN_API_KEY }}"

      - name: Prepare and Push Workspace
        run: |
          postman workspace prepare
          postman workspace push --yes
