name: API Tests and Sync

on:
  push:
    branches: [ main ]

jobs:
  test-and-sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      # - name: Run Postman Collection Tests
      #   uses: postmanlabs/postman-cli-action@v1
      #   with:
      #     command: 'collection run <COLLECTION_ID_OR_PATH>'
      #     api-key: ${{ secrets.POSTMAN_API_KEY }}

      - name: Prepare Workspace Files
        uses: postmanlabs/postman-cli-action@v1
        with:
          command: 'workspace prepare'
          api-key: ${{ secrets.POSTMAN_API_KEY }}

      - name: Push Changes to Postman Workspace
        uses: postmanlabs/postman-cli-action@v1
        with:
          command: 'workspace push --yes'
          api-key: ${{ secrets.POSTMAN_API_KEY }}
          region: eu